.main-footer {
  padding: 75px 0 0;
  background: #2b2f35;
  color: $footer-primary-color;

  h3 {
    margin: 0 0 20px;
    font: 600 14px/1.4 map-deep-get($base, 'base-primary-font');;
    color: $gold;
    letter-spacing: 0.55px;
    text-transform: uppercase;
  }

  &-top {
    padding: 0 0 24px;

    .container {
      display: flex;

      @include media('<=desktop') {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

  }

  .info {
    display: flex;
    width: calc(100% - 300px);
    justify-content: space-between;

    @include media('<=desktop') {
      order: 2;
      flex-wrap: wrap;
      width: 100%;
      max-width: 300px;
    }

    p {
      line-height: 1.75;
      letter-spacing: 0.34px;
    }

    .about {
      width: 100%;
      max-width: 330px;
      padding: 0 35px 0 0;

      @include media('<=desktop') {
        padding: 0;
      }
    }

    .contact {
      width: 100%;
      max-width: 360px;

      @include media('<=desktop') {
        padding: 0;
      }

      &-info {

        p {
          margin: 0;
          line-height: 1.45;
        }
      }

      a {
        color: $footer-primary-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    address {
      margin: 0 0 18px;
      font-style: normal;
    }
  }

  .subscribe {
    width: 300px;

    @include media('<=desktop') {
      order: 1;
      margin: 0 0 40px;
    }
  }

  .input-holder {
    margin: 0 0 12px;
  }

  input {
    width: 100%;
    height: 37px;
    color: #cbcbcb;
    padding: 0 10px;
    background: transparent;
    border: 1px solid $footer-primary-color;

    @include placeholder {
      color: $footer-primary-color;
    }

    &.invalid {
      border-color: #ff3c42;
    }
  }

  .error {
    display: inline-block;
    padding: 8px 0 0;
    color: #ff3c42;
  }

  [type=text] {
    letter-spacing: 1px;
  }

  [type=submit] {
    font-size: 14px;
    line-height: 37px;
    text-transform: uppercase;
    color: #fff;
    background: $gold;
    border: none;
  }

  &-bottom {
    padding: 17px 0 16px;
    background: #24282f;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media('<=tablet') {
        display: block;
        text-align: center;
      }
    }

    p {
      margin: 0;
      font-size: 12px;
      letter-spacing: 0.7px;

      @include media('<=tablet') {
        margin: 0 0 20px;
      }
    }
  }

  .social-links {
    @extend %listreset;

    li {
      margin: 0 0 0 8px;

      @include media('<=tablet') {
        margin: 0 10px;
      }

    }

    [class^=icon-] {
      line-height: 32px;
      color: $footer-primary-color;
      border: 1px solid $footer-primary-color;
    }

    a {
      &:hover {
        [class^=icon-] {
          color: #fff;
          background: $gold;
          border: 1px solid $gold;
        }
      }
    }
  }

}